<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--
  <properties resource="./properties.config"/>
  -->
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="./providers.config"/>
  
	<!-- Database connection information -->
  <database>
    <provider name="sqlServer2008"/>
    <dataSource name="deptEhis" connectionString="Data Source=192.168.100.50;Initial Catalog=Depehis;User ID=mt"/>
  </database>



  <sqlMaps>
    <!--
      <sqlMap resource="../../../Files/Maps/Access/Post.xml" />
		  <sqlMap resource="../../../Files/Maps/Access/Blog.xml" />
	    <sqlMap resource="../../../Files/Maps/Access/Author.xml" />
      -->
	</sqlMaps>

</sqlMapConfig>