
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>预交款充值失败！</h2>
<br /><br />
<li>本次预交款没有完成支付，该笔钱款不会转至医院账户！请重新充值，谢谢！</li>
<br /><br />
<br /><br />
<h4>@ViewBag.errorTitle</h4>
<br /><br />
<h4>@ViewBag.errorMessage</h4>